<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>divelog</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiveServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.DiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiveListServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.DiveListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiverServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.DiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiveStatsServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.DiveStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpotServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.SpotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpotslistServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.SpotlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSpot</servlet-name>
        <servlet-class>tsoha.divelog.control.SelectSpotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDive</servlet-name>
        <servlet-class>tsoha.divelog.control.SelectDiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDiveServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.RemoveDiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSpotServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.RemoveSpotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDiverServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.RemoveDiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiveServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.AddDiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSpotServlet</servlet-name>
        <servlet-class>tsoha.divelog.control.AddSpotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiveServlet</servlet-name>
        <url-pattern>/dive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiveListServlet</servlet-name>
        <url-pattern>/divelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiverServlet</servlet-name>
        <url-pattern>/diver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiveStatsServlet</servlet-name>
        <url-pattern>/divestats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpotServlet</servlet-name>
        <url-pattern>/spot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpotslistServlet</servlet-name>
        <url-pattern>/spotlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSpot</servlet-name>
        <url-pattern>/selectspot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDive</servlet-name>
        <url-pattern>/selectdive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDiveServlet</servlet-name>
        <url-pattern>/RemoveDiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSpotServlet</servlet-name>
        <url-pattern>/RemoveSpotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDiverServlet</servlet-name>
        <url-pattern>/RemoveDiverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiveServlet</servlet-name>
        <url-pattern>/AddDiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSpotServlet</servlet-name>
        <url-pattern>/AddSpotServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
